.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 24px;
}

.topnav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.topnav ul li {
    display: inline-block;
    list-style-type: none;
  }
  
.dropdown :hover {
        background-color:orangered;
        color:white;
}

.topnav ul li a {
    color: white;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
}

.logo {
    width: auto;
    height: 110px;
    overflow: hidden;
    margin-left: 5px;
    margin-top: 5px
    
}